// GLOBAL STYLING STARTS

// VARIABLES

//MIX-INS

html {
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    overflow: hidden;
    background: black;
}

.wrapper {
    padding: 0 10%;
}
// GLOBAL STYLING ENDS