body {
    height: 65vh;   
    font-size: 1.6rem; 
    line-height: 1.6;
    letter-spacing: 2;
}

.question {
    display: flex;  
    justify-content: space-between;
    height: 100%;
    margin: 2rem;
   

    .card {
    width: 25%;
    background: #2a2a2a;
    color: white;
    word-wrap: wrap;
    text-align: center;
    overflow: hidden;
    border: 2px solid lightskyblue;

        .card-head {
            color:#58d35a;  
            text-align: left;
            animation: typewriter 2s steps(44);  
            overflow: hidden;
            white-space: nowrap;
            margin: 5% 5%;
        }

        .card-content {
            margin: 0 5%;
            animation: appear 5s ease;      

            p {
                text-align: left;
                margin-bottom: 10%;
            }
        }

        i {
            transform: scale(3);
            animation: appear-img 7s ease; 
            color:#58d35a;
        }
    }
}

.hide {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
    
    button {
        font-size: 2rem;
        width: 125%;
        margin: 10%;
        box-shadow: 0px 5px 0px -3px darkgrey, 0px 3px 0px 0px rgba(169,169,169,1);
        cursor: pointer;
        padding: 1rem;
        
        &:active {
            margin-bottom: 2px;
	        box-shadow: none;
        }
    }

    .accept {
        
        color: rgba(0, 128, 0, 0.8);
    }

    .decline {
        color: rgba(128, 0, 0, 0.8);
    }
}

.card-1-background {
    background-image: url(../assets/cock-pit.jpg);
    background-size: cover;
    // background-repeat: no-repeat;
}

@keyframes typewriter{
  from{
      width: 0;
    }
  to{
      width: 100%;
    }
}

@keyframes appear{
    0% {
      color: #2a2a2a;
    }   
    50% {
      color: #2a2a2a;
    }
    100%{
      color: white;
    }
}

@keyframes appear-img{
    0% {
      color: #2a2a2a;
    }   
    50% {
      color: #2a2a2a;
    }
    100%{
        color: #58d35a;
    }
}



