body {
    height: 100vh;   
    font-size: 1.6rem; 
    line-height: 1.6;
    letter-spacing: 2;
}

.question {
    display: flex;  
    justify-content: space-between;
    height: 65%;
    margin: 2rem;
   

    .message {
    max-width: 30%;
    min-width: 35rem;
    background: #2a2a2a;
    color:#58d35a;
    word-wrap: wrap;
    text-align: center;
    overflow: hidden;
    border: 2px solid lightskyblue;

        .message-head {  
            text-align: left;
            animation: typewriter 1.5s steps(44);  
            overflow: hidden;
            white-space: nowrap;
            margin: 5% 5%;
        }

        .message-content {
            margin: 0 5%;
            animation: appear-green 2.5s ease;      

            p {
                text-align: left;
            }
        }

        .icon {
            transform: scale(4);
            animation: appear-green 5s ease; 
            margin-top: 10%
        }
    }
}

.thoughts {
    color: white;
    font-style: italic;
    animation: appear 4s ease;
}

.hide {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
    
    button {
        font-size: 2rem;
        width: 125%;
        margin: 10% 0;
        box-shadow: 0px 5px 0px -3px darkgrey, 0px 3px 0px 0px rgba(169,169,169,1);
        cursor: pointer;
        padding: 1rem;
    }

    .accept {
        color: rgba(0, 128, 0, 0.8);

        &:active {
            margin-bottom: 2px;
            box-shadow: none;
        }
    }

    .decline {
        color: rgba(128, 0, 0, 0.8);

        &:active {
            margin-bottom: 2px;
	        box-shadow: none;
        }
    }
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
}
.message-background-0 {
    background-image: url(../assets/cock-pit.jpg);
    
}

.message-background-1 {
    background-image: url(../assets/take-off.jpg);
    background-position: top;
}

.message-background-2 {
    background-image: url(../assets/orbit.jpg);
    background-position: top;
}

.message-background-3 {
    background-image: url(../assets/eclipse.jpg);
}

.message-background-4 {
    background-image: url(../assets/mars.jpg);
    background-position: top;
}

.message-background-4b {
    background-image: url(../assets/arid.jpg);
}

.message-background-5 {
    background-image: url(../assets/milky-way.jpg);
    background-position: center;
}

.message-background-5b {
    background-image: url(../assets/alien.jpg);
}

.message-background-6 {
    background-image: url(../assets/sat.jpg);
}

.message-background-7 {
    background-image: url(../assets/lightspeed.jpg);
}

.message-background-8 {
    background-image: url(../assets/saturn.png);
    background-position: left;
}

.message-background-8b {
    background-image: url(../assets/man.jpg);
}

.message-background-9, .message-background-9b {
    background-image: url(../assets/dark.jpg);
}

@keyframes typewriter{
  from{
      width: 0;
    }
  to{
      width: 100%;
    }
}

@keyframes appear{
    0% {
      color: #2a2a2a;
    }   
    50% {
      color: #2a2a2a;
    }
    100%{
      color: white;
    }
}

@keyframes appear-green{
    0% {
      color: #2a2a2a;
    }   
    50% {
      color: #2a2a2a;
    }
    100%{
        color: #58d35a;
    }
}



